{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost\\SQLEXPRESS; Database=financetrackerDB; Trusted_Connection=True; TrustServerCertificate=True;"
  },
  "Jwt": {
    "Secret": "<your-secret-key-here>",
    "Issuer": "FinanceTrackerAPI",
    "Audience": "FinanceTrackerClient",
    "ExpirationInMinutes": 15,
    "RefreshTokenExpirationInDays": 7
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
